.elemento-padre{
    border: 2px solid black;
    position: relative;
}
.elemento-principal{
    background-color: yellow;
    padding: 10px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.elemento-hijo{
    background-color: gray;
    padding: 10px;
}